body, html {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    width: 70%;
    margin-top: 30px;
    margin-left: 10%;
    background: url(./assets/back.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}